<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sis</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="<?php echo baseUrl; ?>public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>public/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>public/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>public/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>public/plugins/lightbox/css/lightbox.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo baseUrl; ?>public/plugins/editor/editor.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="public/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="public/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    <script src="<?php echo baseUrl; ?>public/plugins/jQuery/jQuery-2.1.4.min.js"></script>
</head>
<body class="skin-black sidebar-mini fixed">
    <div class="wrapper">
        <header class="main-header">
            <a href="" class="logo">
                <span class="logo-mini"><b>Sis</b></span>
                <span class="logo-lg"><b>Sis</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="<?php echo baseUrl; ?>public/dist/img/user.jpg" class="user-image" alt="User Image"/>
                                <span class="hidden-xs"><?php echo $_SESSION['NAME']; ?></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="<?php echo baseUrl; ?>public/dist/img/user.jpg" class="img-circle" alt="User Image" />
                                    <p>
                                        <?php echo $_SESSION['NAME']; ?>
                                        <small><?php echo $_SESSION['EMAIL']; ?></small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="<?php echo baseUrl . 'profile'; ?>" class="btn btn-default btn-flat">
                                            Perfil
                                        </a>
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" onclick="logout();">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li>
                        <a href="<?php echo baseUrl; ?>">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                            <span>Início</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo baseUrl . 'company'; ?>">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            <span>Configurações</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo baseUrl . 'about'; ?>">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            <span>Institucional</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo baseUrl . 'banner'; ?>">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            <span>Banners</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo baseUrl . 'gallery'; ?>">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            <span>Galeria</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo baseUrl . 'service'; ?>">
                            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                            <span>Serviços</span>
                        </a>
                    </li>
                    <li>
                        <a href="<?php echo baseUrl . 'user'; ?>">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <span>Usuários</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <?php echo $this->content(); ?>
        </div>
        <footer class="main-footer">
            <div class="pull-right">
                <strong>
                    Sistema desenvolvido por
                    <a href="https://br.linkedin.com/in/joão-augusto-bonfante-27509249" target="_blank">
                        João Augusto
                    </a>
                </strong>
            </div>
            <b>Versão</b> 5.0.0
        </footer>
    </div><!-- ./wrapper -->
    <script src="<?php echo baseUrl; ?>public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<?php echo baseUrl; ?>public/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="<?php echo baseUrl; ?>public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <script src="<?php echo baseUrl; ?>public/dist/js/app.min.js" type="text/javascript"></script>
    <script src="<?php echo baseUrl; ?>public/dist/js/demo.js" type="text/javascript"></script>
    <script src="<?php echo baseUrl; ?>public/dist/js/jquery.mask.js" type="text/javascript"></script>
    <script src="<?php echo baseUrl; ?>public/plugins/lightbox/js/lightbox.min.js"></script>
    <script src="<?php echo baseUrl; ?>public/plugins/editor/editor.js" type="text/javascript"></script>
    <script type="text/javascript">
        function logout() {
            $.ajax({
                url: '<?php echo baseUrl . "logout"; ?>',
                success: function() {
                    window.location.href="<?php echo baseUrl . 'login'; ?>";
                }
            });
        }
    </script>
</body>
</html>