<?php $user = $this->view->user; ?>
<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Nome</label>
		<input type="text" class="form-control" placeholder="Nome" id="name" value="<?php  echo $user['name']; ?>">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Email</label>
		<input type="email" class="form-control" placeholder="Email" id="email" value="<?php  echo $user['email']; ?>">
	</div>
	
	<div class="form-group">
		<label for="exampleInputPassword1">Status</label>
		<select class="form-control" id="status">
			<option value="A" <?php echo ($user['status'] == "A") ? "selected='selected'" : ""; ?>>Ativo</option>
			<option value="I" <?php echo ($user['status'] == "I") ? "selected='selected'" : ""; ?>>Inativo</option>
		</select>
	</div>

	<div class="pull-left" style="padding-top: 1%; display: none;" id="newLoader">
		<span>
			<img src="public/dist/img/loader.gif"  alt="User Image" /> ATUALIZANDO REGISTRO...
		</span>
	</div>
	<div class="pull-left" style="padding-top: 1%; display: none;" id="newSuccess">
		<span>
			<span class="glyphicon glyphicon-alert" aria-hidden="true"></span> REGISTRO ATUALIZADO!
		</span>
	</div>
	<div class="pull-left" style="padding-top: 1%; display: none;" id="newError">
		<span>
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ERRO AO ATUALIZAR!
		</span>
	</div>
	<div class="pull-right">
		<button type="button" class="btn btn-default" onclick="updateAction();" id="btn_new">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			Salvar
		</button>
		<button class="btn btn-default" data-dismiss="modal" id="btn_cancel">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			Fechar
		</button>
	</div>
	<div style="clear: both;"></div>
	<input type="hidden" id="frm_id" value="<?php echo $user['id']; ?>">
</form>
