<?php $pagination = $this->view->paginator; ?>
<div class="well">
    <div class="table-responsive" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->view->user as $user): ?>
                    <tr >
                        <td><?php echo $user['name']; ?></td>
                        <td><?php echo $user['email']; ?></td>
                        <td style="margin: 0; padding: 0; width: 20%">
                            <button class="btn btn-default" title="Pré-Visualizar" onclick="previewAction(<?php echo $user['id']; ?>);">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default" title="Editar" data-toggle="modal" onclick="editAction(<?php echo $user['id']; ?>);">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default" title="Alterar Senha" data-toggle="modal" onclick="changePassAction(<?php echo $user['id']; ?>);">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default teste" title="Excluir" onclick="delAction(<?php echo $user['id']; ?>);">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="pull-left">
<?php $pagination->printNavigationBar(); ?>
</div>
<div class="pull-left" style="margin-top: 3%; margin-left: 2%; font-size: 15px">
    <?php $pagination->printResultBar(); ?>
</div>
<div style="clear: both;"></div>