<section class="content-header">
	<h1>
		Usuários
	</h1>
	<ol class="breadcrumb">
		<li><a href="<?php echo baseUrl; ?>"><i class="fa fa-dashboard"></i> Início</a></li>
		<li class="active">Usuários</li>
	</ol>
</section>

<section class="content">
	<div class="row">
        <div class="col-md-12">
            <div class="well">
                <form class="form-inline">
                    <div class="form-group">
                        <b>Busca:</b>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_name" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_dt_start" placeholder="Data Inicial">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_dt_final" placeholder="Data Final">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="searchAction();" id="btn-module-search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" id="btn-module-export" class="btn btn-primary " data-toggle="modal" onclick="exportAction();" style="float: right;">
                        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                        EXPORTAR DADOS
                    </button>
                    <button type="button" id="btn-module-new" class="btn btn-primary" data-toggle="modal" onclick="newAction();" style="float: right; margin-right: 1%">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        NOVO CADASTRO
                    </button>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div  id="gridLoader" style="display: none; margin-top: 3%">
                <img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo listagem...
            </div>
            <div id="gridResult"></div>
		</div>
		<div class="col-lg-4" id="previewBox">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Pré-Visualização de Registro</h3>
				</div>
				<div class="panel-body">
					<div  id="previewTitle">
						Clique em um registro para visualizar os dados de cadastro.
					</div>
					<div  id="previewLoader" style="display: none;">
						<img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo dados...
					</div>
					<div  id="previewResult"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<input type="hidden" id="id-for-del">
<script type="text/javascript">
	function searchAction() {
		var name    = $("#s_name");
		var email   = $("#s_email");
		var dtStart = $("#s_dt_start");
		var dtFinal = $("#s_dt_final");
		
		var queryString = "";

		if (name.val() != "") {
			queryString += "&name=" + name.val();
			var nameEmpty = false;
		} else {
			queryString += "&name=";
			var nameEmpty = true;
		}

		if (email.val() != "") {
			queryString += "&email=" + email.val();
			var emailEmpty = false;
		} else {
			queryString += "&email=";
			var emailEmpty = true;
		}

		if (dtStart.val() != "" && dtFinal.val() == "") {
			dtFinal.attr('style', 'border: 1px solid red');
			var dateValidate = false;
		} else {
			dtFinal.attr('style', 'border: 1px solid #ccc');
		}

		if (dtStart.val() == "" && dtFinal.val() != "") {
			dtStart.attr('style', 'border: 1px solid red');
			var dateValidate = false;
		} else {
			dtStart.attr('style', 'border: 1px solid #ccc');
		}

		if (dtStart.val() == "" && dtFinal.val() == "") {
			queryString += "&dtStart=&dtFinal=";
			var dateValidate = true;
			var datesEmpty = true;
		}

		if (dtStart.val() != "" && dtFinal.val() != "") {
			queryString += "&dtStart=" + dtStart.val() + "&dtFinal=" + dtFinal.val();
			var dateValidate = true;
			var datesEmpty = false;
		}

		
		if (dateValidate === true) {
			name.attr('readonly', true);
			email.attr('readonly', true);
			dtStart.attr('readonly', true);
			dtFinal.attr('readonly', true);
			$("#btn-module-search").attr('disabled', true);
			$("#btn-module-new").attr('disabled', true);
			$("#btn-module-export").attr('disabled', true);

			$("#gridResult").empty();
			$("#gridLoader").show();

			if (nameEmpty === true && emailEmpty === true && datesEmpty === true) {
				var urlRequest = '<?php echo baseUrl . "user/grid?page=1"; ?>';
			} else {
				var urlRequest = '<?php echo baseUrl . "user/search?page=1"; ?>' + queryString;
			}

			$.ajax({
				url: urlRequest,
				success: function(data) {
					$("#gridLoader").hide();
					$("#gridResult").append(data);
					name.attr('readonly', false);
					email.attr('readonly', false);
					dtStart.attr('readonly', false);
					dtFinal.attr('readonly', false);
					$("#btn-module-search").attr('disabled', false);
					$("#btn-module-new").attr('disabled', false);
					$("#btn-module-export").attr('disabled', false);
				}, 
				error: function() {
					$("#gridLoader").hide();
					$("#gridResult").append('Erro ao obter listagem.');
					name.attr('readonly', false);
					email.attr('readonly', false);
					dtStart.attr('readonly', false);
					dtFinal.attr('readonly', false);
					$("#btn-module-search").attr('disabled', false);
					$("#btn-module-new").attr('disabled', false);
					$("#btn-module-export").attr('disabled', false);
				}
			});
		}
	}	

	function previewAction(id) {
		$("#previewResult").empty();
		$("#previewTitle").hide();
		$("#previewLoader").show();

		$.ajax({
			url: '<?php echo baseUrl . "user/preview"; ?>?id=' + id,
			success: function(data) {
				$("#previewTitle").hide();
				$("#previewLoader").hide();
				$("#previewResult").append(data);
			}, 
			error: function() {
				$("#previewTitle").hide();
				$("#previewLoader").hide();
				$("#previewResult").append('Erro ao obter dados!');
			}
		});
	}

	function newAction() {
		$("#resultNewModal").empty();
		$("#newModalLoader").show();
		$("#newModal").modal('show');

		$.ajax({
			url: '<?php echo baseUrl . "user/new"; ?>',
			success: function(data) {
				$("#newModalLoader").hide();
				$("#resultNewModal").append(data);
			}, 
			error: function() {
				$("#newModalLoader").hide();
				$("#resultNewModal").append('Erro ao obter Formulário');
			}
		});
	}	

	function editAction(id) {
		$("#resultEditModal").empty();
		$("#editModalLoader").show();
		$("#editModal").modal('show');

		$.ajax({
			url: '<?php echo baseUrl . "user/edit?id="; ?>' + id,
			success: function(data) {
				$("#editModalLoader").hide();
				$("#resultEditModal").append(data);
			}, 
			error: function() {
				$("#editModalLoader").hide();
				$("#resultEditModal").append('Erro ao obter Formulário');
			}
		});
	}	

	function delAction(id) {
		$("#deleteModal").modal('show');
		$("#id-for-del").val(id);
	}

	function runDelete() {
		var id = $("#id-for-del").val();

		$("#btn-make-delete").attr('disabled', true);
		$("#btn-cancel-delete").attr('disabled', true);
		$("#btn-close-modal").attr('disabled', true);
		
		$("#previewDeleteTitle").hide();
		$("#deleteModalLoader").show();

		$.ajax({
			url: '<?php echo baseUrl . "user/delete?id="; ?>' + id,
			success: function() {

				$(".btn-make-delete").attr('disabled', false);
				$("#btn-cancel-delete").attr('disabled', false);
				$("#btn-close-modal").attr('disabled', false);

				loadGrid();

				$("#deleteModal").modal('hide');

			}, 
			error: function() {
				$("#deleteModalLoader").hide();
				$("#deleteModalError").show();

				$(".btn-make-delete").attr('disabled', false);
				$("#btn-cancel-delete").attr('disabled', false);
				$("#btn-close-modal").attr('disabled', false);
			}
		});
	}

	function changePassAction(id) {
		$("#resultPassModal").empty();
		$("#passModalLoader").show();
		$("#passModal").modal('show');

		$.ajax({
			url: '<?php echo baseUrl . "user/change-password?id="; ?>' + id,
			success: function(data) {
				$("#passModalLoader").hide();
				$("#resultPassModal").append(data);
			}, 
			error: function() {
				$("#passModalLoader").hide();
				$("#resultPassModal").append('Erro ao obter Formulário');
			}
		});
	}	

	function exportAction() {
		$("#resultExportModal").empty();
		$("#exportModalLoader").show();
		$("#exportModal").modal('show');

		var url = window.location = '<?php echo baseUrl . "user/export"; ?>';
		if (url) {
			$("#exportModal").modal('hide');
		}
	}

	function saveAction() {
		var name     = $("#name");
		var email    = $("#email");
		var password = $("#password");
		var status   = $("#status");

		if (name.val() === '') {
			name.attr('style', 'border: 1px solid red');
			var nameValidate = false;
		} else {
			name.attr('style', 'border: 1px solid #ccc');
			var nameValidate = true;
		}

		if (email.val() === '') {
			email.attr('style', 'border: 1px solid red');
			var emailValidate = false;
		} else {
			email.attr('style', 'border: 1px solid #ccc');
			var emailValidate = true;
		}

		if (password.val() === '') {
			password.attr('style', 'border: 1px solid red');
			var passwordValidate = false;
		} else {
			password.attr('style', 'border: 1px solid #ccc');
			var passwordValidate = true;
		}

		if (status.val() === 'A' || status.val() === 'I') {
			status.attr('style', 'border: 1px solid #ccc');
			var statusValidate = true;
		} else {
			status.attr('style', 'border: 1px solid red');
			var statusValidate = false;
		}

		if (
			nameValidate === true && 
			emailValidate === true && 
			passwordValidate === true && 
			statusValidate === true
		) {
			$("#newLoader").show();
			$("#btn_new").attr('disabled', true);
			$("#btn_cancel").attr('disabled', true);

			name.attr('readonly', true);
			email.attr('readonly', true);
			password.attr('readonly', true);
			status.attr('readonly', true);

			$.ajax({
				url: '<?php echo baseUrl . "user/save"; ?>?name=' + name.val() + '&email=' + email.val() + '&password=' + password.val() + '&status=' + status.val(),
				success: function() {
					$("#newLoader").hide();
					$("#newSuccess").show();

					$("#btn_new").attr('disabled', false);
					$("#btn_cancel").attr('disabled', false);

					name.attr('readonly', false);
					name.val('');
					email.attr('readonly', false);
					email.val('');
					password.attr('readonly', false);
					password.val('');
					status.attr('readonly', false);

					loadGrid();
				}, 
				error: function() {
					$("#newLoader").hide();
					$("#newSuccess").hide();
					$("#newError").show();

					$("#btn_new").attr('disabled', false);
					$("#btn_cancel").attr('disabled', false);

					name.attr('readonly', false);
					name.val('');
					email.attr('readonly', false);
					email.val('');
					password.attr('readonly', false);
					password.val('');
					status.attr('readonly', false);
				}
			});
		}
	}

	function updateAction() {
		var id       = $("#frm_id");
		var name     = $("#name");
		var email    = $("#email");
		var password = $("#password");
		var status   = $("#status");

		if (name.val() === '') {
			name.attr('style', 'border: 1px solid red');
			var nameValidate = false;
		} else {
			name.attr('style', 'border: 1px solid #ccc');
			var nameValidate = true;
		}

		if (email.val() === '') {
			email.attr('style', 'border: 1px solid red');
			var emailValidate = false;
		} else {
			email.attr('style', 'border: 1px solid #ccc');
			var emailValidate = true;
		}

		if (password.val() === '') {
			password.attr('style', 'border: 1px solid red');
			var passwordValidate = false;
		} else {
			password.attr('style', 'border: 1px solid #ccc');
			var passwordValidate = true;
		}

		if (status.val() === 'A' || status.val() === 'I') {
			status.attr('style', 'border: 1px solid #ccc');
			var statusValidate = true;
		} else {
			status.attr('style', 'border: 1px solid red');
			var statusValidate = false;
		}

		if (
			nameValidate === true && 
			emailValidate === true && 
			passwordValidate === true && 
			statusValidate === true
		) {
			$("#newLoader").show();
			$("#btn_new").attr('disabled', true);
			$("#btn_cancel").attr('disabled', true);

			name.attr('readonly', true);
			email.attr('readonly', true);
			password.attr('readonly', true);
			status.attr('readonly', true);

			$.ajax({
				url: '<?php echo baseUrl . "user/update"; ?>?id=' + id.val() + '&name=' + name.val() + '&email=' + email.val() + '&password=' + password.val() + '&status=' + status.val(),
				success: function() {
					$("#newLoader").hide();
					$("#newSuccess").show();

					$("#btn_new").attr('disabled', false);
					$("#btn_cancel").attr('disabled', false);

					name.attr('readonly', false);
					email.attr('readonly', false);
					password.attr('readonly', false);
					status.attr('readonly', false);

					loadGrid();
				}, 
				error: function() {
					$("#newLoader").hide();
					$("#newSuccess").hide();
					$("#newError").show();

					$("#btn_new").attr('disabled', false);
					$("#btn_cancel").attr('disabled', false);

					name.attr('readonly', false);
					email.attr('readonly', false);
					password.attr('readonly', false);
					status.attr('readonly', false);
				}
			});
		}
	}

	function checkCurrentPass() {
		var cachedPass = $("#cached-pass").val();
		var currentPass = $("#current_password");
		
		if (md5(currentPass.val()) !== cachedPass) {
			$("#new_password").attr('disabled', true);
			$("#confirm_password").attr('disabled', true);

			$("#box_current_password").attr('class', 'has-error has-feedback');
			$("#label_current_password").attr('class', 'control-label');
			$("#fail_current_password").show();
			$("#check_current_password").hide();
		} else {
			$("#new_password").attr('disabled', false);
			$("#confirm_password").attr('disabled', false);

			$("#box_current_password").attr('class', 'has-success has-feedback');
			$("#label_current_password").attr('class', 'control-label');
			$("#check_current_password").show();
			$("#fail_current_password").hide();

			currentPass.attr('readonly', true);
		}
	}

	function verifyNewPass() {
		var newPass     = $("#new_password");
		var confirmPass = $("#confirm_password");
		
		if (newPass.val() !== confirmPass.val()) {
			$("#box_new_password").attr('class', 'has-error has-feedback');
			$("#label_new_password").attr('class', 'control-label');
			$("#fail_new_password").show();
			$("#check_new_password").hide();

			$("#box_confirm_password").attr('class', 'has-error has-feedback');
			$("#label_confirm_password").attr('class', 'control-label');
			$("#fail_confirm_password").show();
			$("#check_confirm_password").hide();
		} else {
			$("#box_new_password").attr('class', 'has-success has-feedback');
			$("#label_new_password").attr('class', 'control-label');
			$("#fail_new_password").hide();
			$("#check_new_password").show();

			$("#box_confirm_password").attr('class', 'has-success has-feedback');
			$("#label_confirm_password").attr('class', 'control-label');
			$("#fail_confirm_password").hide();
			$("#check_confirm_password").show();
		}
	}

	function changePassword(id) {
		var currentPass = $("#current_password");
		var newPass     = $("#new_password");
		var confirmPass = $("#confirm_password");

		if (currentPass.val() === '') {
			var currentValidate = false;
			$("#box_current_password").attr('class', 'has-error has-feedback');
			$("#label_current_password").attr('class', 'control-label');
			$("#fail_current_password").show();
			$("#check_current_password").hide();
		} else {
			var currentValidate = true;
			$("#box_current_password").attr('class', 'has-success has-feedback');
			$("#label_current_password").attr('class', 'control-label');
			$("#fail_current_password").hide();
			$("#check_current_password").show();
		}

		if (newPass.val() === '') {
			var newValidate = false;
			$("#box_new_password").attr('class', 'has-error has-feedback');
			$("#label_new_password").attr('class', 'control-label');
			$("#fail_new_password").show();
			$("#check_new_password").hide();
		} else {
			var newValidate = true;
			$("#box_new_password").attr('class', 'has-success has-feedback');
			$("#label_new_password").attr('class', 'control-label');
			$("#fail_new_password").hide();
			$("#check_new_password").show();
		}

		if (confirmPass.val() === '') {
			var confirmValidate = false;
			$("#box_confirm_password").attr('class', 'has-error has-feedback');
			$("#label_confirm_password").attr('class', 'control-label');
			$("#fail_confirm_password").show();
			$("#check_confirm_password").hide();
		} else {
			var confirmValidate = true;
			$("#box_confirm_password").attr('class', 'has-success has-feedback');
			$("#label_confirm_password").attr('class', 'control-label');
			$("#fail_confirm_password").hide();
			$("#check_confirm_password").show();
		}

		if (confirmValidate !== false) {
			if (confirmPass.val() !== newPass.val()) {
				var bothPassValidate = false;
				$("#box_new_password").attr('class', 'has-error has-feedback');
				$("#label_new_password").attr('class', 'control-label');
				$("#fail_new_password").show();
				$("#check_new_password").hide();
				$("#box_confirm_password").attr('class', 'has-error has-feedback');
				$("#label_confirm_password").attr('class', 'control-label');
				$("#fail_confirm_password").show();
				$("#check_confirm_password").hide();
			} else {
				var bothPassValidate = true;
				$("#box_new_password").attr('class', 'has-success has-feedback');
				$("#label_new_password").attr('class', 'control-label');
				$("#fail_new_password").hide();
				$("#check_new_password").show();
				$("#box_confirm_password").attr('class', 'has-success has-feedback');
				$("#label_confirm_password").attr('class', 'control-label');
				$("#fail_confirm_password").hide();
				$("#check_confirm_password").show();
			}
		}

		if (
			currentValidate === true && 
			newValidate === true && 
			confirmValidate === true &&
			bothPassValidate === true
		) {
			$("#current_password").attr('readonly', true);
			$("#new_password").attr('readonly', true);
			$("#confirm_password").attr('readonly', true);
			$("#confirm_password").attr('readonly', true);
			$("#confirm_password").attr('readonly', true);

			$("#btn_new").attr('disabled', true);
			$("#btn_cancel").attr('disabled', true);

			$("#pacLoader").show();

			$.ajax({
				//url: '<?php echo baseUrl . "user/update-password?id="; ?>' + id + '&pass=' + md5(newPass.val()),
				url: '',
				success: function() {
					$("#pacLoader").hide();
					$("#newError").hide();
					$("#newSuccess").show();

					$("#current_password").attr('readonly', false);
					$("#new_password").attr('readonly', false);
					$("#confirm_password").attr('readonly', false);

					$("#current_password").val('');
					$("#new_password").val('');
					$("#confirm_password").val('');

					$("#btn_new").attr('disabled', false);
					$("#btn_cancel").attr('disabled', false);

				},
				error: function() {
					$("#pacLoader").hide();
					$("#newError").show();
					$("#newSuccess").hide();

					$("#current_password").attr('readonly', false);
					$("#new_password").attr('readonly', false);
					$("#confirm_password").attr('readonly', false);

					$("#btn_new").attr('disabled', false);
					$("#btn_cancel").attr('disabled', false);
				}
			});
		}
	}

	function pagination(numPage) {
		$("#gridResult").empty();
		$("#gridLoader").show();

		$.ajax({
			url: '<?php echo baseUrl . "user/grid?page="; ?>' + numPage,
			success: function(data) {
				$("#gridLoader").hide();
				$("#gridResult").append(data);
			}, 
			error: function() {
				$("#gridLoader").hide();
				$("#gridResult").append('Erro ao obter listagem.');
			}
		});
	}

	function loadGrid() {
		$("#gridResult").empty();
		$("#gridLoader").show();

		$.ajax({
			url: '<?php echo baseUrl . "user/grid?page=1"; ?>',
			success: function(data) {
				$("#gridLoader").hide();
				$("#gridResult").append(data);
			}, 
			error: function() {
				$("#gridLoader").hide();
				$("#gridResult").append('Erro ao obter listagem.');
			}
		});
	}

	$( document ).ready(function() {
		loadGrid();
		$("#s_dt_start").mask('99/99/9999');
		$("#s_dt_final").mask('99/99/9999');

		$('#s_dt_start').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        });

        $('#s_dt_final').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        });
	});	
</script>

<!-- New Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myNewModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Novo Registro
				</h4>
			</div>
			<div class="modal-body">
				<div  id="newModalLoader" style="display: none;"> 
					<img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo formulário...
				</div>
				<div  id="resultNewModal"></div>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Editar Registro
				</h4>
			</div>
			<div class="modal-body">
				<div  id="editModalLoader" style="display: none;"> 
					<img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo formulário...
				</div>
				<div  id="resultEditModal"></div>
			</div>
		</div>
	</div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-close-modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					Excluir Registro
				</h4>
			</div>
			<div class="modal-body">
				<div id="previewDeleteTitle">
					Tem certeza de deseja realizar a exclusão definitiva do registro?
				</div>
				<div id="deleteModalLoader" style="display: none;"> 
					<img src="public/dist/img/loader.gif"  alt="Loader Image" /> Exluindo informações...
				</div>
				<div id="deleteModalError" style="display: none;">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Ocorreu um erro ao tentar excluir o registro, tente novamente ou contate o suporte.
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-make-delete" onclick="runDelete();">
	        		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	        		Excluir
	        	</button>
	        	<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-cancel-delete">
	        		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	        		Cancelar
	        	</button>
	        </div>
		</div>
	</div>
</div>

<!-- Change Password Modal -->
<div class="modal fade bs-example-modal-sm" id="passModal" tabindex="-1" role="dialog" aria-labelledby="myPassModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Alterar Senha
				</h4>
			</div>
			<div class="modal-body">
				<div  id="passModalLoader" style="display: none;"> 
					<img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo formulário...
				</div>
				<div  id="resultPassModal"></div>
			</div>
		</div>
	</div>
</div>

<!-- Change Password Modal -->
<div class="modal fade bs-example-modal-sm" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myExportModalLabel" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Exportando registros
				</h4>
			</div>
			<div class="modal-body">
				<div  id="exportModalLoader" style="display: none;"> 
					<img src="public/dist/img/loader.gif"  alt="Loader Image" /> Gerando relatório, aguarde.
				</div>
				<div  id="resultExportModal"></div>
			</div>
		</div>
	</div>
</div>