<?php $user = $this->view->prewiew; ?>
<ul class="list-group">
	<li class="list-group-item">
		<b>Nome:</b> 
		<?php echo $user['name']; ?>
	</li>
	<li class="list-group-item">
		<b>Email:</b> 
		<?php echo $user['email']; ?>
	</li>
	<li class="list-group-item">
		<b>Cadastrado em:</b> 
		<?php 
		$expDC = explode('-', $user['created_at']); 
		$dayDC = substr($expDC[2], 0, 2);
		$timeDC = substr($expDC[2], 2);
		$createdDate = $dayDC . '/' . $expDC[1] . '/' . $expDC[0];
		echo $createdDate . ' às ' . $timeDC;
		?>
	</li>
	<li class="list-group-item">
		<b>Atualizado em:</b> 
		<?php 
		$expDU = explode('-', $user['updated_at']); 
		$dayDU = substr($expDU[2], 0, 2);
		$timeDU = substr($expDU[2], 2);
		$updatedDate = $dayDU . '/' . $expDU[1] . '/' . $expDU[0];
		echo $updatedDate . ' às ' . $timeDU;
		?>
	</li>
	<li class="list-group-item">
		<b>Status:</b> 
		<?php echo ($user['status'] == "A") ? "Ativo" : "Inativo"; ?>
	</li>
</ul>