<section class="content-header">
    <h1>
        Galeria
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo baseUrl; ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li><a href="<?php echo baseUrl . "gallery"; ?>"><i class="fa fa-picture"></i> Galeria</a></li>
        <li class="active">Editar</li>
    </ol>
</section>
<section class="content">
    <div class="">
        <div class="well">
            <strong>Editar foto do site</strong>
            <hr />
            <form method="post" enctype="multipart/form-data"
                    action="<?php echo baseUrl . "gallery/edit?id=" . (int)$_GET['id']; ?>">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input type="text" class="form-control" placeholder="Título" name="title"
                            value="<?php echo $this->view->data['title']; ?>" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="caption">Legenda</label>
                        <input type="text" class="form-control" placeholder="Legenda" name="caption"
                            value="<?php echo $this->view->data['caption']; ?>">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="file">Imagem</label>
                        <a href="<?php echo baseUrl . "public/uploads/gallery/" . $this->view->data['image']; ?>"
                            class="pull-right" data-lightbox="image-1">
                            Visualizar imagem
                        </a>
                        <input type="file" class="form-control" name="file">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" name="status">
                            <option value="A"
                                <?php echo ($this->view->data['status'] == 'A') ? 'selected=""' : ""; ?>>
                                Ativo
                            </option>
                            <option value="I"
                                <?php echo ($this->view->data['status'] == 'I') ? 'selected=""' : ""; ?>>
                                Inativo
                            </option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary" name="btn-update">
                        Salvar
                    </button>
                    <a href="<?php echo baseUrl . "gallery"; ?>" class="btn btn-default">
                        Voltar
                    </a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</section>