<section class="content-header">
    <h1>
        Galeria
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo baseUrl; ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Galeria</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form class="form-inline">
                    <div class="form-group">
                        <b>Busca:</b>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_title" placeholder="Título">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_caption" placeholder="Legenda">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_dt_start" placeholder="Data Inicial">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" id="s_dt_final" placeholder="Data Final">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="searchAction();" id="btn-module-search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" id="btn-module-export" class="btn btn-primary " data-toggle="modal" onclick="exportAction();" style="float: right;">
                        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                        EXPORTAR DADOS
                    </button>
                    <a href="<?php echo baseUrl . "gallery/new"; ?>"
                        class="btn btn-primary" style="float: right; margin-right: 1%">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        NOVO CADASTRO
                    </a>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div  id="gridLoader" style="display: none; margin-top: 3%">
                <img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo listagem...
            </div>
            <div id="gridResult"></div>
        </div>
        <div class="col-lg-4" id="previewBox">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pré-Visualização de Registro</h3>
                </div>
                <div class="panel-body">
                    <div  id="previewTitle">
                        Clique em um registro para visualizar os dados de cadastro.
                    </div>
                    <div  id="previewLoader" style="display: none;">
                        <img src="public/dist/img/loader.gif"  alt="Loader Image" /> Obtendo dados...
                    </div>
                    <div  id="previewResult"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="id-for-del">
<script type="text/javascript">
    function searchAction() {
        var title    = $("#s_title");
        var caption   = $("#s_caption");
        var dtStart = $("#s_dt_start");
        var dtFinal = $("#s_dt_final");

        var queryString = "";

        if (title.val() != "") {
            queryString += "&title=" + title.val();
            var titleEmpty = false;
        } else {
            queryString += "&title=";
            var titleEmpty = true;
        }

        if (caption.val() != "") {
            queryString += "&caption=" + caption.val();
            var captionEmpty = false;
        } else {
            queryString += "&caption=";
            var captionEmpty = true;
        }

        if (dtStart.val() != "" && dtFinal.val() == "") {
            dtFinal.attr('style', 'border: 1px solid red');
            var dateValidate = false;
        } else {
            dtFinal.attr('style', 'border: 1px solid #ccc');
        }

        if (dtStart.val() == "" && dtFinal.val() != "") {
            dtStart.attr('style', 'border: 1px solid red');
            var dateValidate = false;
        } else {
            dtStart.attr('style', 'border: 1px solid #ccc');
        }

        if (dtStart.val() == "" && dtFinal.val() == "") {
            queryString += "&dtStart=&dtFinal=";
            var dateValidate = true;
            var datesEmpty = true;
        }

        if (dtStart.val() != "" && dtFinal.val() != "") {
            queryString += "&dtStart=" + dtStart.val() + "&dtFinal=" + dtFinal.val();
            var dateValidate = true;
            var datesEmpty = false;
        }

        if (dateValidate === true) {
            title.attr('readonly', true);
            caption.attr('readonly', true);
            dtStart.attr('readonly', true);
            dtFinal.attr('readonly', true);
            $("#btn-module-search").attr('disabled', true);
            $("#btn-module-new").attr('disabled', true);
            $("#btn-module-export").attr('disabled', true);

            $("#gridResult").empty();
            $("#gridLoader").show();

            if (titleEmpty === true && captionEmpty === true && datesEmpty === true) {
                var urlRequest = '<?php echo baseUrl . "gallery/grid?page=1"; ?>';
            } else {
                var urlRequest = '<?php echo baseUrl . "gallery/search?page=1"; ?>' + queryString;
            }

            $.ajax({
                url: urlRequest,
                success: function(data) {
                    $("#gridLoader").hide();
                    $("#gridResult").append(data);
                    title.attr('readonly', false);
                    caption.attr('readonly', false);
                    dtStart.attr('readonly', false);
                    dtFinal.attr('readonly', false);
                    $("#btn-module-search").attr('disabled', false);
                    $("#btn-module-new").attr('disabled', false);
                    $("#btn-module-export").attr('disabled', false);
                },
                error: function() {
                    $("#gridLoader").hide();
                    $("#gridResult").append('Erro ao obter listagem.');
                    title.attr('readonly', false);
                    caption.attr('readonly', false);
                    dtStart.attr('readonly', false);
                    dtFinal.attr('readonly', false);
                    $("#btn-module-search").attr('disabled', false);
                    $("#btn-module-new").attr('disabled', false);
                    $("#btn-module-export").attr('disabled', false);
                }
            });
        }
    }

    function previewAction(id) {
        $("#previewResult").empty();
        $("#previewTitle").hide();
        $("#previewLoader").show();

        $.ajax({
            url: '<?php echo baseUrl . "gallery/preview"; ?>?id=' + id,
            success: function(data) {
                $("#previewTitle").hide();
                $("#previewLoader").hide();
                $("#previewResult").append(data);
            },
            error: function() {
                $("#previewTitle").hide();
                $("#previewLoader").hide();
                $("#previewResult").append('Erro ao obter dados!');
            }
        });
    }

    function delAction(id) {
        $("#deleteModal").modal('show');
        $("#id-for-del").val(id);
    }

    function runDelete() {
        var id = $("#id-for-del").val();

        $("#btn-make-delete").attr('disabled', true);
        $("#btn-cancel-delete").attr('disabled', true);
        $("#btn-close-modal").attr('disabled', true);

        $("#previewDeleteTitle").hide();
        $("#deleteModalLoader").show();

        $.ajax({
            url: '<?php echo baseUrl . "gallery/delete?id="; ?>' + id,
            success: function() {

                $(".btn-make-delete").attr('disabled', false);
                $("#btn-cancel-delete").attr('disabled', false);
                $("#btn-close-modal").attr('disabled', false);

                loadGrid();

                $("#deleteModal").modal('hide');

            },
            error: function() {
                $("#deleteModalLoader").hide();
                $("#deleteModalError").show();

                $(".btn-make-delete").attr('disabled', false);
                $("#btn-cancel-delete").attr('disabled', false);
                $("#btn-close-modal").attr('disabled', false);
            }
        });
    }

    function exportAction() {
        $("#resultExportModal").empty();
        $("#exportModalLoader").show();
        $("#exportModal").modal('show');

        var url = window.location = '<?php echo baseUrl . "gallery/export"; ?>';
        if (url) {
            $("#exportModal").modal('hide');
        }
    }

    function pagination(numPage) {
        $("#gridResult").empty();
        $("#gridLoader").show();

        $.ajax({
            url: '<?php echo baseUrl . "gallery/grid?page="; ?>' + numPage,
            success: function(data) {
                $("#gridLoader").hide();
                $("#gridResult").append(data);
            },
            error: function() {
                $("#gridLoader").hide();
                $("#gridResult").append('Erro ao obter listagem.');
            }
        });
    }

    function loadGrid() {
        $("#gridResult").empty();
        $("#gridLoader").show();

        $.ajax({
            url: '<?php echo baseUrl . "gallery/grid?page=1"; ?>',
            success: function(data) {
                $("#gridLoader").hide();
                $("#gridResult").append(data);
            },
            error: function() {
                $("#gridLoader").hide();
                $("#gridResult").append('Erro ao obter listagem.');
            }
        });
    }

    $( document ).ready(function() {
        loadGrid();
        $("#s_dt_start").mask('99/99/9999');
        $("#s_dt_final").mask('99/99/9999');

        $('#s_dt_start').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        });

        $('#s_dt_final').datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        });
    });
</script>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btn-close-modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Excluir Registro
                </h4>
            </div>
            <div class="modal-body">
                <div id="previewDeleteTitle">
                    Tem certeza de deseja realizar a exclusão definitiva do registro?
                </div>
                <div id="deleteModalLoader" style="display: none;">
                    <img src="public/dist/img/loader.gif"  alt="Loader Image" /> Exluindo informações...
                </div>
                <div id="deleteModalError" style="display: none;">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Ocorreu um erro ao tentar excluir o registro, tente novamente ou contate o suporte.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-make-delete" onclick="runDelete();">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Excluir
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-cancel-delete">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Export Modal -->
<div class="modal fade bs-example-modal-sm" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myExportModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Exportando registros
                </h4>
            </div>
            <div class="modal-body">
                <div  id="exportModalLoader" style="display: none;">
                    <img src="public/dist/img/loader.gif"  alt="Loader Image" /> Gerando relatório, aguarde.
                </div>
                <div  id="resultExportModal"></div>
            </div>
        </div>
    </div>
</div>