<?php $gallery = $this->view->prewiew; ?>
<ul class="list-group">
	<li class="list-group-item">
		<b>Título:</b>
		<?php echo $gallery['title']; ?>
	</li>
	<li class="list-group-item">
		<b>Subtítulo:</b>
		<?php echo $gallery['caption']; ?>
	</li>
	<li class="list-group-item">
		<b>Cadastrado em:</b> 
		<?php 
		$expDC = explode('-', $gallery['created_at']);
		$dayDC = substr($expDC[2], 0, 2);
		$timeDC = substr($expDC[2], 2);
		$createdDate = $dayDC . '/' . $expDC[1] . '/' . $expDC[0];
		echo $createdDate . ' às ' . $timeDC;
		?>
	</li>
	<li class="list-group-item">
		<b>Atualizado em:</b> 
		<?php 
		$expDU = explode('-', $gallery['updated_at']);
		$dayDU = substr($expDU[2], 0, 2);
		$timeDU = substr($expDU[2], 2);
		$updatedDate = $dayDU . '/' . $expDU[1] . '/' . $expDU[0];
		echo $updatedDate . ' às ' . $timeDU;
		?>
	</li>
	<li class="list-group-item">
		<b>Status:</b> 
		<?php echo ($gallery['status'] == "A") ? "Ativo" : "Inativo"; ?>
	</li>
	<li class="list-group-item">
		<b>Imagem:</b>
		<a href="<?php echo baseUrl . "public/uploads/gallery/" . $gallery['image']; ?>" data-lightbox="image-1">
			<img src="<?php echo baseUrl . "public/uploads/gallery/" . $gallery['image']; ?>" class="img-responsive">
		</a>
	</li>
</ul>