<div class="well">
    <div class="table-responsive" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Legenda</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->view->result as $gallery): ?>
                    <tr >
                        <td><?php echo $gallery['title']; ?></td>
                        <td><?php echo $gallery['caption']; ?></td>
                        <td style="margin: 0; padding: 0; width: 20%">
                            <button class="btn btn-default" title="Pré-Visualizar" onclick="previewAction(<?php echo $gallery['id']; ?>);">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </button>
                            <a class="btn btn-default" href="<?php echo baseUrl . "gallery/edit?id=" . $gallery['id']; ?>" title="Editar">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                            <button class="btn btn-default teste" title="Excluir" onclick="delAction(<?php echo $gallery['id']; ?>);">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
