<section class="content-header">
    <h1>
        Configurações
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo baseUrl; ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Configurações</li>
    </ol>
</section>
<section class="content">
    <div class="">
        <div class="well">
            <strong>Informações da Empresa</strong>
            <hr />
            <div class="clearfix"></div>
            <form method="post" enctype="multipart/form-data" action="<?php echo baseUrl . "company/update"; ?>">
                <div class="col-md-8" style="margin: 0; padding: 0;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nome da Empresa</label>
                            <input type="text" class="form-control" placeholder="Título" name="name"
                                value="<?php echo $this->view->data['name']; ?>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">Cidade</label>
                            <input type="text" class="form-control" placeholder="Cidade" name="city"
                                   value="<?php echo $this->view->data['city']; ?>">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email_1">Email 1</label>
                            <input type="text" class="form-control" placeholder="Email 1" name="email_1"
                                   value="<?php echo $this->view->data['email_1']; ?>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email_2">Email 2</label>
                            <input type="text" class="form-control" placeholder="Email 2" name="email_2"
                                   value="<?php echo $this->view->data['email_2']; ?>">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phone_1">Telefone 1</label>
                            <input type="text" class="form-control" placeholder="Telefone 1" name="phone_1"
                                   value="<?php echo $this->view->data['phone_1']; ?>" id="phone_1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phone_2">Telefone 2</label>
                            <input type="text" class="form-control" placeholder="Telefone 2" name="phone_2"
                                   value="<?php echo $this->view->data['phone_2']; ?>" id="phone_2">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cellphone">Celular</label>
                            <input type="text" class="form-control" placeholder="Celular" name="cellphone"
                                   value="<?php echo $this->view->data['cellphone']; ?>" id="cellphone">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Logomarca</label>
                            <a href="<?php echo baseUrl . "public/uploads/company/" . $this->view->data['logo']; ?>"
                               class="pull-right" data-lightbox="image-1">
                                Visualizar imagem
                            </a>
                            <input type="file" class="form-control" name="file">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin: 0; padding: 0;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="facebook">Link Facebook</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </span>
                                <input type="text" class="form-control" placeholder="http://facebook.com/sua-página" name="facebook"
                                       value="<?php echo $this->view->data['facebook']; ?>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="twitter">Link Twitter</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </span>
                                <input type="text" class="form-control" placeholder="http://twitter.com/sua-página" name="twitter"
                                       value="<?php echo $this->view->data['twitter']; ?>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="youtube">Link YouTube</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </span>
                                <input type="text" class="form-control" placeholder="http://youtube.com/sua-página" name="youtube"
                                       value="<?php echo $this->view->data['youtube']; ?>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="gplus">Link G+</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </span>
                                <input type="text" class="form-control" placeholder="http://plus.google.com/sua-página" name="gplus"
                                       value="<?php echo $this->view->data['gplus']; ?>">
                            </div>
                        </div>
                    </div>
               </div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary" name="btn-update">
                        Salvar
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#phone_1").mask("(99)9999-9999");
        $("#phone_2").mask("(99)9999-9999");
        $("#cellphone").mask("(99)99999-9999");
    });

</script>