<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sis | Autenticação</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="public/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a><b>Sis</b> | Autenticação</a>
      </div>
      <div class="login-box-body">
        <p class="login-box-msg">Faça o login para iniciar sua sessão.</p>
        <form method="post">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email" id="email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Senha" id="pass" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">

            <div class="col-xs-12">
              <button onclick="validate();" class="btn btn-primary btn-block btn-flat" id="form_btn">
              		<span id="login_btn">
              			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Entrar
              		</span>
              		<span id="login_load" style="display: none;">
              			<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Aguarde
              		</span>
              		<span id="login_success" style="display: none;">
              			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Logado
              		</span>
                    <span id="login_error" style="display: none;">
              			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Erro
              		</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="result"></div>
    <script src="public/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="public/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' 
        });
      });

      function validate() {
      	var email = $("#email").val();
      	var pass = $("#pass").val();
		
      	$("#result").empty();

		$("#form_btn").attr('disabled', true);
		$("#form_btn").attr('class', 'btn btn-danger btn-block btn-flat');

		$("#login_btn").hide();
		$("#login_load").show();

		$.ajax({
			url: '<?php echo baseUrl ."auth"; ?>?email=' + email + '&pass=' + pass,
			success: function(data) {
				$("#login_btn").hide();
				$("#login_load").hide();
				$("#login_success").show();
				$("#form_btn").attr('class', 'btn btn-success btn-block btn-flat');
				$("#form_btn").attr('disabled', false);
                $("#result").append(data);
                window.location.href = "<?php echo baseUrl; ?>";
            }, 
            error: function() {
            	alert('Erro na requisição!');
            }
		});
	  }	
    </script>
  </body>
</html>