<?php $pagination = $this->view->paginator; ?>
<div class="well">
    <div class="table-responsive" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->view->services as $service): ?>
                <tr >
                    <td><?php echo $service['title']; ?></td>
                    <td><?php echo $service['description']; ?></td>
                    <td style="margin: 0; padding: 0; width: 20%">
                        <button class="btn btn-default" title="Pré-Visualizar"
                            onclick="previewAction(<?php echo $service['id']; ?>);">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                        <a href="<?php echo baseUrl . "service/edit?id=" . $service['id']; ?>"
                            title="Editar" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                        <button class="btn btn-default teste" title="Excluir"
                            onclick="delAction(<?php echo $service['id']; ?>);">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div class="pull-left">
    <?php $pagination->printNavigationBar(); ?>
</div>
<div class="pull-left" style="margin-top: 3%; margin-left: 2%; font-size: 15px">
    <?php $pagination->printResultBar(); ?>
</div>
<div style="clear: both;"></div>