<section class="content-header">
    <h1>
        Serviços
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo baseUrl; ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li><a href="<?php echo baseUrl . "service"; ?>"><i class="fa fa-picture"></i> Serviços</a></li>
        <li class="active">Novo</li>
    </ol>
</section>
<section class="content">
    <div class="">
        <div class="well">
            <strong>Adicionar serviço ao site</strong>
            <hr />
            <form method="post" enctype="multipart/form-data" action="<?php echo baseUrl . "service/new"; ?>">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="title">Título</label>
                        <input type="text" class="form-control" placeholder="Título" name="title" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="file">Imagem</label>
                        <input type="file" class="form-control" name="file" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" name="status">
                            <option value="A">Ativo</option>
                            <option value="I">Inativo</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descrição</label>
                        <textarea class="form-control" name="description" id="txtEditor"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary" name="btn-update">
                        Salvar
                    </button>
                    <a href="<?php echo baseUrl . "service"; ?>" class="btn btn-default">
                        Voltar
                    </a>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $("#txtEditor").Editor();
        $(".Editor-editor").append($("#txtEditor").val());

        $(".Editor-editor").bind('input propertychange', function() {
            $("#txtEditor").val($(".Editor-editor").html());
        })
    });
</script>