<?php $service = $this->view->prewiew; ?>
<ul class="list-group">
	<li class="list-group-item">
		<b>Título:</b>
		<?php echo $service['title']; ?>
	</li>
	<li class="list-group-item">
		<b>Cadastrado em:</b> 
		<?php 
		$expDC = explode('-', $service['created_at']);
		$dayDC = substr($expDC[2], 0, 2);
		$timeDC = substr($expDC[2], 2);
		$createdDate = $dayDC . '/' . $expDC[1] . '/' . $expDC[0];
		echo $createdDate . ' às ' . $timeDC;
		?>
	</li>
	<li class="list-group-item">
		<b>Atualizado em:</b> 
		<?php 
		$expDU = explode('-', $service['updated_at']);
		$dayDU = substr($expDU[2], 0, 2);
		$timeDU = substr($expDU[2], 2);
		$updatedDate = $dayDU . '/' . $expDU[1] . '/' . $expDU[0];
		echo $updatedDate . ' às ' . $timeDU;
		?>
	</li>
	<li class="list-group-item">
		<b>Status:</b> 
		<?php echo ($service['status'] == "A") ? "Ativo" : "Inativo"; ?>
	</li>
	<li class="list-group-item">
		<b>Imagem:</b>
		<a href="<?php echo baseUrl . "public/uploads/service/" . $service['image']; ?>" data-lightbox="image-1">
			<img src="<?php echo baseUrl . "public/uploads/service/" . $service['image']; ?>" class="img-responsive">
		</a>
	</li>
</ul>