<section class="content-header">
    <h1>
        Institucional
    </h1>
    <ol class="breadcrumb">
        <li><a href="<?php echo baseUrl; ?>"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Institucional</li>
    </ol>
</section>
<section class="content">
    <div class="">
        <div class="well">
            <strong>Atualizar Informações</strong>
            <hr />
            <div class="clearfix"></div>
            <form method="post" enctype="multipart/form-data" action="<?php echo baseUrl . "about/update"; ?>">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Título</label>
                        <input type="text" class="form-control" placeholder="Título" name="title"
                            value="<?php echo $this->view->data['title']; ?>">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Imagem</label>
                        <a href="<?php echo baseUrl . "public/uploads/about/" . $this->view->data['image']; ?>"
                            class="pull-right" data-lightbox="image-1">
                            Visualizar imagem
                        </a>
                        <input type="file" class="form-control" name="file">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Texto</label>
                        <textarea class="form-control" name="description" id="txtEditor">
                            <?php echo $this->view->data['description']; ?>
                        </textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary" name="btn-update">
                        Salvar
                    </button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</section>
<script>
    $(document).ready(function() {
        $("#txtEditor").Editor();
        $(".Editor-editor").append($("#txtEditor").val());

        $(".Editor-editor").bind('input propertychange', function() {
            $("#txtEditor").val($(".Editor-editor").html());
        })
    });
</script>